<nav class="left-sidebar sidebar">
    <ul class="nav nav-pills flex-column">
        <li id="navPatientInfo" class="nav-item nav-item-patient" data-id="Info">
            <a class="nav-link active" href="javascript:void(0);">
                <span class="icon icon-patient"></span>
                <span>Patient Info</span>
            </a>
        </li>
        <li id="navPatientPlans" class="nav-item nav-item-patient" data-id="Plans">
            <a class="nav-link" href="javascript:void(0);">
                <span class="icon icon-plans"></span>
                <span>Treatment Plans</span>
            </a>
        </li>
        <li id="navPatientReports" class="nav-item nav-item-patient" data-id="Reports">
            <a class="nav-link" href="javascript:void(0);">
                <span class="icon icon-reports"></span>
                <span>Reports</span>
            </a>
        </li>
        <li class="dropdown-divider"></li>
        <li class="nav-item item-back">
            <a class="nav-link" href="/clinician/patients">
                <span class="icon icon-back"></span>
                <span>Back</span>
            </a>
        </li>
    </ul>
</nav>
