{% styles %}
<link href="{{ [
        'assets/css/login.css',
                    <link href="{'assets/vendor/bootstrap/css/bootstrap.min.css'|theme }}" rel="stylesheet">
    <link href="{{ 'assets/css/dashboard.css'|theme }}" rel="stylesheet">
    <link href="{{ 'assets/css/fontawesome-all.min.css'|theme }}" rel="stylesheet">

    <link href="{{ 'assets/vendor/bootstrap-select/css/bootstrap-select.min.css'|theme }}" rel="stylesheet">
    <link href="{{ 'assets/vendor/daterangepicker/daterangepicker.css'|theme }}" rel="stylesheet">
    <link href="{{ ['assets/less/theme.less']|theme }}" rel="stylesheet">
    ]|theme }}?v2.17" rel="stylesheet">