<script src="{{ 'assets/vendor/jquery/jquery.min.js'|theme }}"></script>
<script src="{{ 'assets/vendor/moment.min.js'|theme }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="{{ 'assets/vendor/bootstrap/js/bootstrap.min.js'|theme }}"></script>
<script src="{{ 'assets/vendor/bootstrap-select/js/bootstrap-select.min.js'|theme }}"></script>
<script src="{{ 'assets/vendor/daterangepicker/daterangepicker.js'|theme }}"></script>
<script src="{{ 'assets/vendor/Sortable/Sortable.min.js'|theme }}"></script>
<script src="{{ 'assets/vendor/tether.min.js'|theme }}"></script>
<script src="{{ 'assets/javascript/iconwc.js'|theme }}"></script>
{% framework extras %}
{% scripts %}
