<div class="pnl-patients-content">
    <div id="tblPatients" class="tbl">
        <div class="tbl-head">
            <div class="row tbl-row">
                <div class="col-1"></div>
                <div class="col-1">ID</div>
                <div class="col-2">Name</div>
                <div class="col-1">Age</div>
                <div class="col-1">Language</div>
                <div class="col-2">Last Login</div>
                <div class="col-2">Last Session Duration</div>
                <div class="col-1">Call</div>
                <div class="col-1">Edit</div>
            </div>
        </div>
        <div id="tblPatientsBody" class="tbl-body">
            {% for patient in patientList %}
            <div class="row tbl-row" data-id="{{ patient.id }}">
                <div class="col-1 tbl-td">
                    <img class="patient-avatar rounded-circle" src="{{ patient.avatar ? patient.avatar.path : 'assets/images/patient-def-avatar.png'|theme }}">
                </div>
                <div class="col-1 tbl-td">{{ patient.id }}</div>
                <div class="col-2 tbl-td">{{ patient.first_name }} {{ patient.last_name }}</div>
                <div class="col-1 tbl-td">{{ patient.age_calc }}</div>
                <div class="col-1 tbl-td">{{ patient.language.language }}</div>
                <div class="col-2 tbl-td">{{ patient.last_login }}</div>
                <div class="col-2 tbl-td">{{ patient.last_session_duration ? ( patient.last_session_duration == -1 ? 'Online' : '%d minutes'|format(patient.last_session_duration) ) : 'NULL' }}</div>
                <div class="col-1 tbl-td">
                    {% if patient.is_active and not patient.is_guest %}
                    <a class="call-link"
                       data-id="{{ patient.id }}"
                       href="javascript:void(0);"
                    >
                        <span class="icon icon-phone"></span>
                    </a>
                    {% endif %}
                </div>
                <div class="col-1 tbl-td td-edit">
                    <a class="btn-edit-patient" data-id="{{ patient.id }}">
                        <span class="icon icon-edit"></span>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% if patientList.lastPage > 1 %}
                <ul class="pagination" style="width: 200px; margin: auto;">
                    {% if patientList.currentPage > 1 %}
                    <li class="page-item">
                        <a class="page-link" href="{{ patientList.previousPageUrl }}"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="javascript:void(0);"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
                    </li>
                    {% endif %}

                    {% for page in 1..patientList.lastPage %}
                    <li class="page-item {{ patientList.currentPage == page ? 'active' : null }}">
                        <a
                            class="page-link"
                            href="{{ this.page.baseFileName | page }}?q={{ searchText }}&amp;page={{ page }}">
                            {{ page }}
                        </a>
                    </li>
                    {% endfor %}

                    {% if patientList.lastPage > patientList.currentPage %}
                    <li class="page-item">
                        <a href="{{ patientList.nextPageUrl }}" class="page-link"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a href="javascript:void(0);" class="page-link"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    </li>
                    {% endif %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>

    {# Dynamic partial - call occurs on server side render partial #}
    <div id="partialModifyPatient">
    </div>

</div>
