<div id="reportsFilter" class="reports-filter">
    <select id="filterMode" class="custom-select">
        <option value="1">All Records</option>
        <option value="2" selected>Period</option>
    </select>
    <span id="filterSectionPeriod">
        <span id="filterPeriod" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
            <i class="fa fa-calendar"></i>&nbsp;
            <span></span> <i class="fa fa-caret-down"></i>
        </span>
    </span>
</div>
