description = "Default layout"

[slp_session]
redirect = "login"
==
<!DOCTYPE html>
<html>
    {% partial 'head' %}

    <body>

        <!-- Header -->
        {% partial 'site/header' %}

        <div class="container-fluid">
            <div class="row">
                {% partial 'site/patient-navigation' %}
            </div>
        </div>
        <!-- Content -->
        <main class="with-sidebar">
            {% page %}
        </main>

        {% partial 'js' %}

    </body>
</html>

<style>
    .dropdown-menu {
        left: -50px;
    }
</style>
