description = "Regression layout"

==
<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/png" href="{{ 'assets/images/october.png'|theme }}">
        <link href="{{ 'assets/vendor/bootstrap/css/bootstrap.min.css'|theme }}" rel="stylesheet">
        <link href="{{ 'assets/css/fontawesome-all.min.css'|theme }}" rel="stylesheet">
        <link href="{{ 'assets/vendor/bootstrap-select/css/bootstrap-select.min.css'|theme }}" rel="stylesheet">
        <link href="{{ ['assets/less/theme.less']|theme }}" rel="stylesheet">
        <link href="{{ 'assets/vendor/bootstrap-datepicker/bootstrap-datepicker.css'|theme }}" rel="stylesheet">
    </head>
    <body>
        <!-- Content -->
        <main class="col-sm-12 pt-3">
            {% page %}
        </main>
    </body>

</html>

<style>
    <!---->
</style>
